.Top button{
    width: 65px;
    height: 65px;
    background-color: orange;
    bottom: 23px;
    right: 23px;
    z-index: 100;
    cursor: pointer;
    clip-path: polygon(50% 40%, 15% 100%, 85% 100%);
    border: 0px solid orange;
}

.Arriba{
    transition: 0.3s linear;
	visibility: visible;
    position: fixed;
    opacity: 0.7;
}

.ArribaHidden{
    opacity: 0;
    transition: 0.3s linear;
	visibility: hidden;
    position: fixed;
}
