.MyWork{
    top: 200%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow-x: hidden;
    color: white;
    overflow-y: hidden;
    overflow-x: hidden;
  }

.MyWork .LogoGit{
  transition: all 700ms ease;
  background-image: url(../Imagenes/Gmove.gif);
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;
  cursor: pointer;
}



.MyWork .Oculto{
  transition: all 400ms ease;
  transform: translateX(800%);
}
.MyWork .Visible{
  transition: all 400ms ease;
  transform: translateX(0%);
}

.MyWork .OcultoB{
  transition: all 600ms ease;
  transform: translateX(800%);
}
.MyWork .VisibleB{
  transition: all 600ms ease;
  transform: translateX(0%);
}


.MyWork .OcultoC{
  transition: all 800ms ease;
  transform: translateX(800%);
}
.MyWork .VisibleC{
  transition: all 800ms ease;
  transform: translateX(0%);
}

.MyWork .Contenedor{
  display: flex;
  flex-direction:column;
  align-items:center;

  width: 300px;
  height: 500px;

  position: relative;
  top: 30%;
  left: 5%;
}

.MyWork .Lenguajes{
  display: flex;
  flex-direction:row;
  align-items:center;
  gap: 80px;

  width: 70%;
  height: 45%;
  background-color: black;

  position: absolute;
  top: 10%;
  right: 0;
}
.MyWork .Trabajos{
  display: flex;
  flex-direction:row;
  align-items:center;
  gap: 80px;

  width: 70%;
  height: 45%;
  background-color: black;

  position: absolute;
  top: 50%;
  right: 0%;
}

.MyWork .Texto{
  display: flex;
  flex-direction:column;
  align-items:center;

  width: 200px;
  height: auto;

  position: relative;
  font-family: 'Courier New', Courier, monospace;
  line-height: 30px;
  text-align: center;
}

.MyWork .Texto h3{
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 5px;
  cursor: pointer;
}

.MyWork .Texto h3:hover{
  transform: scale(1.1);
  transition: all 500ms ease;
}

.MyWork .Texto span{
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: 5px;

  width: 400px;

  cursor:default;
}

.MyWork .Lenguajes h3{
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: 2px;
  cursor: default;
  font-family: 'Courier New', Courier, monospace;
  line-height: 30px;
  text-align: center;
  transform: rotateZ(-90deg);
}

.MyWork .React{
  transition: all 700ms ease;
  background-image: url(../Imagenes/react.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 90px;
  height: 80px;
}

.MyWork .React:hover{
  transition: all 700ms ease;
  transform: rotateZ(180deg);
}

.MyWork .Python{
  transition: all 700ms ease;
  background-image: url(../Imagenes/python.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 90px;
  height: 90px;
}

.MyWork .Python:hover{
  transition: all 700ms ease;
  transform: rotateZ(-360deg);
}

.MyWork .C{
  transition: all 700ms ease;
  background-image: url(../Imagenes/c.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 80px;
  height: 90px;
}

.MyWork .C:hover{
  transition: all 700ms ease;
  transform: rotateZ(360deg);
}

.MyWork .Java{
  transition: all 700ms ease;
  background-image: url(../Imagenes/java.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
  height: 90px;
}

.MyWork .Java:hover{
  transition: all 700ms ease;
  transform: rotateZ(-360deg);
}

.MyWork .Pos{
  transition: all 700ms ease;
  background-image: url(../Imagenes/Unity.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 80px;
  height: 80px;
}

.MyWork .Pos:hover{
  transition: all 700ms ease;
  transform: rotateZ(360deg);
}

.MyWork .Trabajos h3{
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: 2px;
  cursor: default;
  font-family: 'Courier New', Courier, monospace;
  line-height: 30px;
  text-align: center;
  transform: rotateZ(-90deg);
}

.MyWork .Calculadora{
  transition: all 700ms ease;
  background-image: url(../Imagenes/Calculadora.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.MyWork .Calculadora:hover{
  transition: all 700ms ease;
  transform: scale(1.1);
}

.MyWork .Pelis{
  transition: all 700ms ease;
  background-image: url(../Imagenes/Pelis.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.MyWork .Pelis:hover{
  transition: all 700ms ease;
  transform: scale(1.1);
}

.MyWork .Espejo{
  transition: all 700ms ease;
  background-image: url(../Imagenes/Espejo.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.MyWork .Espejo:hover{
  transition: all 700ms ease;
  transform: scale(1.1);
}

.MyWork .Laberinto{
  transition: all 700ms ease;
  background-image: url(../Imagenes/Laberinto.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.MyWork .Laberinto:hover{
  transition: all 700ms ease;
  transform: scale(1.1);
}

.MyWork .Lisp{
  transition: all 700ms ease;
  background-image: url(../Imagenes/Lisp.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.MyWork .Lisp:hover{
  transition: all 700ms ease;
  transform: scale(1.1);
}